<a href="https://colab.research.google.com/github/mohmaed7777/Novozymes-Enzyme-Stability-Prediction/blob/main/Novozymes_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (7.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)

In [2]:
!mkdir ~/.kaggle

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
!kaggle competitions download -c novozymes-enzyme-stability-prediction

Downloading novozymes-enzyme-stability-prediction.zip to /content
 71% 5.00M/7.06M [00:00<00:00, 39.3MB/s]
100% 7.06M/7.06M [00:00<00:00, 52.4MB/s]

In [7]:
! unzip /content/novozymes-enzyme-stability-prediction.zip

Archive:  /content/novozymes-enzyme-stability-prediction.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv
  inflating: train_updates_20220929.csv
  inflating: wildtype_structure_prediction_af2.pdb

In [8]:
import pandas as pd
import numpy as np

In [10]:
df_train = pd.read_csv('/content/train.csv')
df_test = pd.read_csv('/content/test.csv')
sumbmissions = pd.read_csv('/content/sample_submission.csv')

In [11]:
df_train.head()

,seq_id,protein_sequence,pH,data_source,tm
0,0,AAAAKAAALALLGEAPEVVDIWLPAGWRQPFRVFRLERKGDGVLVG...,7.0,doi.org/10.1038/s41592-020-0801-4,75.7
1,1,AAADGEPLHNEEERAGAGQVGRSLPQESEEQRTGSRPRRRRDLGSR...,7.0,doi.org/10.1038/s41592-020-0801-4,50.5
2,2,AAAFSTPRATSYRILSSAGSGSTRADAPQVRRLHTTRDLLAKDYYA...,7.0,doi.org/10.1038/s41592-020-0801-4,40.5
3,3,AAASGLRTAIPAQPLRHLLQPAPRPCLRPFGLLSVRAGSARRSGLL...,7.0,doi.org/10.1038/s41592-020-0801-4,47.2
4,4,AAATKSGPRRQSQGASVRTFTPFYFLVEPVDTLSVRGSSVILNCSA...,7.0,doi.org/10.1038/s41592-020-0801-4,49.5

In [12]:
df_test.head()

   seq_id                                   protein_sequence  pH data_source
0   31390  VPVNPEPDATSVENVAEKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
1   31391  VPVNPEPDATSVENVAKKTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
2   31392  VPVNPEPDATSVENVAKTGSGDSQSDPIKADLEVKGQSALPFDVDC...   8   Novozymes
3   31393  VPVNPEPDATSVENVALCTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes
4   31394  VPVNPEPDATSVENVALFTGSGDSQSDPIKADLEVKGQSALPFDVD...   8   Novozymes

In [16]:
df_train.isnull().sum()

seq_id                 0
protein_sequence       0
pH                   286
data_source         3347
tm                     0
dtype: int64

In [17]:
df_test.isnull().sum()

seq_id              0
protein_sequence    0
pH                  0
data_source         0
dtype: int64

In [18]:
df_train.dtypes

seq_id                int64
protein_sequence     object
pH                  float64
data_source          object
tm                  float64
dtype: object

In [19]:
df_train['data_source'].value_counts()

doi.org/10.1038/s41592-020-0801-4    24525
10.1021/acscatal.9b05223               211
10.1016/j.bpc.2006.10.014              185
10.7554/eLife.54639                    151
10.1007/s00253-018-8872-1               84
                                     ...
10.1074/jbc.M001132200                   1
10.1021/bi9530090                        1
10.1016/j.ijbiomac.2008.12.016           1
10.1016/j.jmb.2004.02.073                1
10.1021/bi00219a037                      1
Name: data_source, Length: 324, dtype: int64

In [21]:
df_updated = pd.read_csv('/content/train_updates_20220929.csv')
df_updated

      seq_id protein_sequence  pH  data_source  tm
0         69              NaN NaN          NaN NaN
1         70              NaN NaN          NaN NaN
2         71              NaN NaN          NaN NaN
3         72              NaN NaN          NaN NaN
4         73              NaN NaN          NaN NaN
...      ...              ...  ..          ...  ..
2429   30738              NaN NaN          NaN NaN
2430   30739              NaN NaN          NaN NaN
2431   30740              NaN NaN          NaN NaN
2432   30741              NaN NaN          NaN NaN
2433   30742              NaN NaN          NaN NaN

[2434 rows x 5 columns]

In [22]:
df_train.describe(include='object')

,protein_sequence,data_source
count,31390,28043
unique,28981,324
top,MNIFEMLRIDERLRLKIYKDTEGYYTIGIGHLLTKSPSLNAAKSEL...,doi.org/10.1038/s41592-020-0801-4
freq,14,24525

In [23]:
df_train.describe()

             seq_id            pH            tm
count  31390.000000  31104.000000  31390.000000
mean   15694.500000      6.892339     49.147337
std     9061.656811      1.612225     14.010089
min        0.000000      1.990000     -1.000000
25%     7847.250000      7.000000     42.100000
50%    15694.500000      7.000000     48.000000
75%    23541.750000      7.000000     53.800000
max    31389.000000     64.900000    130.000000

In [25]:
df_train.shape

(31390, 5)

In [26]:
df_test.shape

(2413, 4)

In [29]:
df_train['pH'].mode()

0    7.0
dtype: float64

In [30]:
df_train['pH'].describe()

count    31104.000000
mean         6.892339
std          1.612225
min          1.990000
25%          7.000000
50%          7.000000
75%          7.000000
max         64.900000
Name: pH, dtype: float64